* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

input {
    border-radius: 5px;
}

html {
    overflow-x: hidden;
}

/*****************************************************************
    Common Elements
******************************************************************/

.btn {
    cursor: pointer;
    transition: 0.5s;
}

.btn:hover {
    filter: invert(100%);
}


/*****************************************************************
    Header Elements
******************************************************************/

header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 9vh;
    background-color: lightseagreen;
    z-index: 999 !important;
}

logo {
    color: rgb(226, 226, 226);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
    display: flex;
    margin-left: 100px;
}

logo i {
    font-size: 30px;
}

logo h1 {
    font-size: 20px;
    margin-top: 5px;
    margin-left: 5px;
}

nav-bar {
    width: 50%;
    margin-right: 50px;
    transition: 0.5s;
}

nav-bar ul {
    display: flex;
    justify-content: space-around;
}

nav-bar li {
    list-style: none;

}

nav-bar a {
    text-decoration: none;
    color: white;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.burger {
    display: none;
    position: relative;
    right: -100%;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: rgb(226, 226, 226);
    margin: 5px;
    transition: all 0.3s ease;
}

/*브라우저 너비가 1024px보다 작아지면 동작*/
@media screen and (max-width: 1024px) {
    nav-bar {
        width: 70%;
    }

    logo {
        margin-left: 50px;
    }

}

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }

    logo {
        margin-left: 30px;
    }

    .nav-links {
        position: fixed;
        right: 0;
        height: 92vh;
        top: 9vh;
        background-color: lightseagreen;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 40%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in-out;
    }

    nav-bar li {
        opacity: 0;
    }

    .burger {
        display: block;

    }

}

.nav-active {
    transform: translateX(0%);
}


/* 애니메이션 생성 index.js에서 활성화 */
@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* 햄버거에서 x로 transform */
.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}



/*****************************************************************
    login-panel Elements
******************************************************************/

.login-panel {
    position: absolute;
    background: lightseagreen;
    width: 300px;
    right: 0;
    top: 9vh;
    transform: translateY(-100%);
    transition: transform 0.5s;
}

.login-panel.active {
    transform: translateY(0%);
}

.login-panel .times-sign {
    width: 100%;
    height: 30px;
}

.login-panel .times-sign p {
    float: right;
    margin-right: 1vw;
    font-size: 30px;
    font-weight: bold;
    color: white;
}

.login-panel .content {
    display: flex;
    margin: 0 1vw 0 1vw;
}

.login-panel .input-panel input {
    margin: 1vw 0 0 0;
    border: none;
    height: 25px;
    width: 12vw;
    padding: 0 5px 0 5px;
}

.login-panel .btn-panel input {
    margin: 1vw 0 0 1vw;
    border: none;
    height: 25px;
    width: 70px;
    background: none;
    outline: none;
    color: white;
    font-weight: bold;
    font-size: 17px;
}

.login-panel a {
    display: inline-block;
    position: relative;
    margin: 10px 0 10px 15px;
    text-decoration: none;
    color: white;
}

@media screen and (max-width: 1024px) {
    .login-panel {
        width: 100%;
    }

    .login-panel .content {
        display: flex;
        justify-content: space-around;
    }

    .login-panel .input-panel {
        display: flex;
        justify-content: space-evenly;
        width: 70%;
    }

    .login-panel .input-panel input{
        width: 40%;
    }

    .login-panel .btn-panel {
        display: flex;
        justify-content: space-evenly;
        flex-direction: row-reverse;
        width: 30%;
    }

    .login-panel a {
        margin-left: 5.5%;
    }

}

@media screen and (max-width: 600px) {
    .login-panel .input-panel {
        display: flex;
        flex-direction: column;
        margin-left: 10vw;
    }

    .login-panel .input-panel input {
        width: 80%;
    }

    .login-panel .btn-panel {
        display: flex;
        flex-direction: column-reverse;
        width: 30%;
    }

    .login-panel a {
        margin-left: 10.5%;
    }

    .login-panel .content {
        height: 50%;
    }

}

/*****************************************************************
    login-panel Elements
******************************************************************/

.register-panel {
    position: absolute;
    background: lightseagreen;
    right: 0;
    top: 9vh;
    transform: translateY(-100%);
    transition: transform 0.5s;
}

.register-panel.active {
    transform: translateY(0%);
}

.register-panel .times-sign {
    width: 100%;
    height: 30px;
}

.register-panel .times-sign p {
    float: right;
    margin-right: 1vw;
    font-size: 30px;
    font-weight: bold;
    color: white;
}

.register-panel .content {
    margin: 1vw 1vw 0 1vw;
}

.register-panel .input-panel {
    display: grid;
    grid-template-columns: 1fr
}

.register-panel .input-panel div {
    display: flex;
}

.register-panel .input-panel div p {
    width: 90px;
    margin-top: 5px;
}

.register-panel .input-panel input {
    margin: 5px 0 5px 5px;
    padding: 5px;
    border: none;
    outline: none;
    height: 25px;
    width: 20vw;
}

.register-panel .btn-panel {
    display: flex;
    justify-content: space-between;
    margin: 10px 10px 10px 0;

}

.register-panel .btn-panel input {
    border: none;
    height: 25px;
    width: 70px;
    background: none;
    outline: none;
    color: white;
    font-weight: bold;
    font-size: 17px;
}

.register-panel p {
    display: inline-block;
    position: relative;
    color: white;
}

@media screen and (max-width: 1024px) {

    .register-panel {
        width: 100%;
    }
    .register-panel .input-panel {
        grid-template-columns: repeat(2, 1fr);
    }

    .register-panel .input-panel input {
        margin: 5px 20px 5px 5px;
        padding: 5px;
        border: none;
        outline: none;
        height: 25px;
        width: 70%;
    }

}

@media screen and (max-width: 600px) {

    .register-panel .content {
        padding: 0 0 0 10px;
    }

    .register-panel .input-panel {
        grid-template-columns: 1fr;
    }

    .register-panel .input-panel input {
        margin: 5px 0px 5px 5px;
        padding: 5px;
        width: 80%;
    }
}


/*****************************************************************
    Semantic Elements
******************************************************************/


footer {
    background: #add8e685;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
}

main {
    background: lightgray;
    width: 100%;
    display: flex;
    flex-flow: row;
    margin-top: 9vh;
}

section {
    background: #fff;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

article {
    border: 5px solid salmon;
    border-radius: 10px;
    width: 100%;
    margin: 5vw;
    height: 70vh;
}

.text {

    min-height: 300px;
    padding: 3vw;
    overflow-y: scroll;
    overflow-x: auto;

}

.menu {
    width: 30%;
    min-height: 300px;
    padding: 3vw;
    margin-left: 0;
}

@media screen and (max-width: 768px) {

    section {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .text, .menu {
        padding: 3vw;
        height: 75vh;
        width: 85%;
        margin: 50px 0 0 0;
        overflow-y: scroll;
        overflow-x: auto;
    }

    .menu {
        margin-bottom: 50px;
    }

}